body {
    background-color: whitesmoke;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: lightblue;
    cursor: pointer;
    padding: 10px;
    width: 200px;
    border: none;
    text-align: left;
    font-size: 20px;
    border-radius: 10px;
    border-top: 2px solid whitesmoke;
}


/* Span function for collapsible menu */
.collapsible span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.7s;
}

/* Span function for collapsible menu */
.collapsible span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}


/* Span function for collapsible menu */
.collapsible:hover span {
    padding-right: 25px;
}


/* Span function for collapsible menu */
.collapsible:hover span:after {
    opacity: 1;
    right: 0;
}


/* Style for the collapsible buttons */
.menu {
    background-color: lightblue;
    cursor: pointer;
    padding: 10px;
    width: 180px;
    border: none;
    text-align: right;
    font-size: 18px;
    border-radius: 10px;
    border-top: 2px solid whitesmoke;
}


/* Style the collapsible content. Note: hidden by default */
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}


